#splash {
  background-color: black;
}

#google-map {
  height: 500px;
  background: grey;
}

img {
  width: 80%;
}

.w3-select {
  width: initial;
}

@media screen and (max-width: 798px) {

  #google-map {
    height: 380px;
  }
}

@media screen and (max-width: 480px) {

  #google-map {
    height: 220px;
  }
}